* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #121212;
    font-family: "Inter", sans-serif;
    min-width: 780px;
}

body,
a,
input#search-movie,
button#search-movie-btn,
.fa-magnifying-glass,
.fa-circle-plus {
    color: #FFFFFF;
}

.plot {
    color: #A5A5A5;
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
p,
a {
    margin: 0;
    line-height: 2;
}

a {
    text-decoration: none;
}

.header {
    background-image: url("./images/image.png");
    display: flex;
    margin: 0 auto;
    height: 200px;
    width: 90%;
    background-size: cover;
    padding: 0 2.62em;
    justify-content: space-between;
    align-items: center;
    position: relative;
}



.search-box {
    position: absolute;
    width: 80%;
    max-width: 625px;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: -20px;
}

.fa-magnifying-glass {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.fa-circle-plus,
.fa-circle-minus {
    margin-right: 1em;
}

.fa-circle-plus {
    color: greenyellow;
}

.fa-circle-minus {
    color: red;
}

.fa-star {
    color: gold;
    margin: 0 1em;
    font-size: 0.75rem;
}

.rating {
    font-size: 0.75rem;
    font-weight: 400;
}

input#search-movie {
    width: 75%;
    background: #2E2E2F;
    border-radius: 5px 0 0 5px;
    outline: none;
    padding-left: 2em;
}

input#search-movie,
button#search-movie-btn {
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border: none;
    font-weight: 300;
}

button#search-movie-btn {
    width: 25%;
    box-sizing: border-box;
    background: #4B4B4B;
    border-radius: 0 5px 5px 0;
}

button#search-movie-btn:hover {
    background: #444;
}

.btn {
    background: none;
    outline: none;
    border: none;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
    /* font-size: 1rem; */
}

.main {
    width: 90%;
    margin: 0 auto;
}

.movie-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    padding: 1em 2em;
    border-bottom: 1px solid #333;
}

.movie-info {
    padding: 0 2em;
}

.movie-details {
    display: flex;
}

.movie-details p {
    margin-right: 2em;
}

.poster {
    width: 120px;
    height: auto;
}

hr {
    height: 1px;
    background-color: #333;
    border: none;
    /* width: 90%; */
    margin: 1em 0;
}

.search-list {
    margin-top: 1em;
}

.placeholder {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 0 auto;
    color: #A5A5A5;

}

.placeholder-icon {
    padding: 0;
    font-size: 10rem;
    color: #333;

}

.placeholder p {
    color: #333;
}

.placeholder h3 {
    color: #787878;
}

.watchlist-placeholder {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 0 auto;
    color: #333;
}

.hidden {
    display: none;
}